html, .grid-container { height: 100%; margin: 0; text-align: center; }

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "navbar main";
  width: 100vw;
  height: 100vh;  
}

.navbar {
  grid-area: navbar;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.main {
  grid-area: main;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.widget-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.widget-container > *{
  height: 33.3vh;
  min-height: 20em;
  min-width: 20em;
  max-width: 100em;
}

.double-widget-subcontainer{
  min-width: 80em;
  max-width: 1fr;
}

.right-container{
  background-color: hotpink;
  width: 50rem;
  display: inline-block;
}

@media only screen and (max-width: 2100px){
  .main{
    flex-direction: column;
    align-items: center;
  }

  .widget-container > *{
    min-width: 33.3vw;
    max-width: 100%;
  }

  .right-container{
    width: 100%;
  }

  .double-widget-subcontainer{
    max-width: 100%;
  }
  
}

@media only screen and (max-width: 800px){
    .widget-container > *, .double-widget-subcontainer,.right-container{
      min-width: 100%;
      width: 100vw;
      max-width: 100%;
    }

    .grid-container{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr;
      grid-template-areas: "navbar" 
                            "main";
    }

    .navbar{
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      position: fixed;
      width: 100%;
      height: 100px;
    }
}