html, .grid-container { height: 100%; margin: 0; padding:0; text-align: center; font-family: 'Roboto'; }

h1{
  color: #275EF6;
  font-size: 2rem;
  margin: 0;
}

p{
  color: #878787;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "navbar main";
  width: 100vw;
  height: 100vh;
  background-color: #FCFCFC;  
  padding: 0;
  margin: 0;
}

.navbar {
  grid-area: navbar;
  background-color: #FCFCFC;  
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  position: fixed;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}

.widget-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: blue;
  padding: 0;
  margin: 0;
}

.widget-container > *{
  height: 31vh;
  min-height: 20em;
  min-width: 20em;
  max-width: 100%;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  /* border: 1px solid black; */
}

.double-widget-subcontainer{
  min-width: 80%;
  max-width: 1fr;
}

.right-container{
  background-color: #ffffff;  
  width: 40%;
  display: inline-block;
  margin-left: 3rem;
  padding: 40px 20px 40px 20px;
  -webkit-box-shadow: -8px 0px 20px -6px rgba(0,0,0,0.17); 
  box-shadow: -8px 0px 20px -6px rgba(0,0,0,0.17);
}

.right-subcontainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

@media only screen and (max-width: 2100px){
  .main{
    flex-direction: column;
    align-items: center;
  }
  
  .widget-container > *{
    min-width: 30em;
    max-width: 100%;
  }
  
  .right-container{
    width: 100%;
    margin-left: 0;
    -webkit-box-shadow: none; 
    box-shadow: none;
  }
  
  .double-widget-subcontainer{
    min-width: 60em;
    max-width: 100%;
  }

  .right-subcontainer{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .right-subcontainer > * {
    min-width: 30em;
    max-width: 30em;
  }
  
}

@media only screen and (max-width: 800px){
  .widget-container > *, .double-widget-subcontainer,.right-container{
    min-width: 100%;
    width: 100vw;
    max-width: 100%;
  }
  
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "navbar" "main";
  }
  
  .navbar{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;  
    -webkit-box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.14); 
    box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.14);
    z-index: 3;
  }

  .right-subcontainer{
    flex-direction: column;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}